body {
    background-image: linear-gradient(black, gray);
    color: white;
    font: italic 12pt arial;
    margin: 40px;   
}
legend{
    font: italic 12pt arial;
    font-size: 16pt;
}
a{
    margin-left: 10pt;
    color: whitesmoke;
}
video{
    margin: 20px;
    margin-top: 5px;
    border-radius: 5px;  
}
footer{
    font: normal 10pt arial;
}