@model Usuario
@{
    ViewData["Title"] = "Login";
}
<h2>Login Usuário</h2>

<p class="text-danger">@ViewData["mensagem"]</p>

<form asp-action="Login" method="POST">
    <p>
        <label asp-for="Login">Login:</label>
        <input asp-for="Login" />
    </p>
    <p>
        <label asp-for="Senha">Senha:</label>
        <input asp-for="Senha" type="password" />
    </p>
    <p>
        <input type="submit" value="Entrar" />
    </p>
</form>