@{
    ViewData["Title"] = "Home";
}


<div class="container-fluid">
    <img src="~/image/pexels2.jpg" class="img-fluid" alt="PizzaFundo">
</div>

<!--<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
