@using System
@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mangia Pizza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @if (Context.Session.GetInt32("Id") == null){
            <a class="nav-link text-dark" style="background-color: #FFE69C;" asp-area="" asp-controller="CadastroCliente" asp-action="CadastroCliente"><button type="button" class="btn btn-outline-dark">Cadastre-se</button></a>
        } else{
            <a class="nav-link text-dark" style="background-color: #FFE69C;" asp-area="" asp-controller="CadastroCliente" asp-action="Logout"><button type="button" class="btn btn-outline-dark">Sair</button></a>

        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #FFE69C;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class = "Logo" src = "~/image/MangiaPizza.png" width = "240" height = "240"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse text-right d-sm-inline-flex flex-sm-row-reverse">
        
                    <ul class="navbar-nav flex-grow-1 justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SaibaMais">Saiba mais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cardapio">Cardápio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RecArtigos">Receitas e artigos </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Galeria">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="FaleConosco">Fale Conosco</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pedido">Pedido</a>
                        </li>
                        @if (Context.Session.GetInt32("Id") == null){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CadastroCliente" asp-action="Login">Entrar</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center navbar-dark bg-dark">
        <div class="container">
            &copy; 2022 - ATIV_03 - <a asp-area="" asp-controller="Home" asp-action="Index">Mangia Pizza</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
