@model Usuario
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<p class="text-danger">@ViewData["mensagem"]</p>

<form asp-action="CadastroUsuario" method="POST">
    <p>
        <label asp-for="Nome">Nome:</label>
        <input asp-for="Nome" />
    </p>
    <p>
        <label asp-for="Login">Login:</label>
        <input asp-for="Login" />
    </p>
    <p>
        <label asp-for="Senha">Senha:</label>
        <input asp-for="Senha" />
    </p>
    <p>
        <label asp-for="DataNasc">DataNasc:</label>
        <input asp-for="DataNasc" type="date"/>
    </p>
    <p>
        <input type="submit" value="Cadastrar" />
    </p>
</form>