@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class = "dog" src = "~/img/img01.jpg" width = "400" height = "">
    <h2 class="display-4">Bem vindo ao site da veterinária PetVet</h2>
        <p class = "paraPrim">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suspendisse in est ante in nibh mauris cursus mattis molestie. Quisque egestas diam in arcu cursus. Interdum velit euismod in pellentesque. Scelerisque in dictum non consectetur a. Vulputate dignissim suspendisse in est ante in nibh. Ut ornare lectus sit amet est placerat. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Facilisis leo vel fringilla est ullamcorper eget nulla. Vitae et leo duis ut diam quam. Id cursus metus aliquam eleifend mi in. Dolor sed viverra ipsum nunc aliquet. Quam id leo in vitae turpis.

        Nam libero justo laoreet sit amet cursus sit amet dictum. Vulputate odio ut enim blandit. Massa enim nec dui nunc mattis enim. Nullam eget felis eget nunc lobortis. Auctor neque vitae tempus quam pellentesque nec nam. Leo a diam sollicitudin tempor id eu nisl nunc mi. Duis convallis convallis tellus id interdum velit laoreet id. Ligula ullamcorper malesuada proin libero nunc. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Facilisis sed odio morbi quis commodo odio aenean sed. Dui nunc mattis enim ut tellus elementum sagittis vitae.</p>
</div>
