@{
    ViewData["Title"] = "Servicos";
}

<div class = "Servicos">
    <h1>Nossos Serviços:</h1>
</div>
<div class = "ListaServico">
    <dl>
        <dt>Banho e Tosa</dt>
        <dd><li>Daremos aquele banho e um belo trato no pelo do seu Pet!</li></dd>
        <dd><li>Valor: R$ 180,00</li></dd>
    </dl>
      <dl>
        <dt>Massagem Tailandesa Pet</dt>
        <dd><li>Seu Pet está estressado?! Não se Preocupe, a massagem Tailandesa vai deixá-lo nas nuvens!!</li></dd>
        <dd><li>Valor: R$ 200,00 (30 minutos)</li></dd>
    </dl>
    <dl>
        <dt>Consulta Veterinária</dt>
        <dd><li>Seu Pet será examinado pelos melhores profissionais do mercado!</li></dd>
        <dd><li>Valor R$ 250,00</li></dd>
    </dl>
</div>